<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>


<h1>Your Pragmatic Catalog See am now You Cant see me</h1>

<% if @count >= 5%>
You have viewed this <%= pluralize(@count, "time") %>
<% end %>

<B>The store path is <%= store_path %></B>

<% @products.each do |product| %>
    <div class="entry">
      <%= image_tag(product.image_url) %>
      <h3><%= product.title %></h3>
      <p><%= sanitize(product.description) %></p>
      <div class="price_line">
        <span class="price"><%= number_to_currency(product.price) %>
        [<%= number_to_currency(to_pounds(product.price), :unit => "&pound;", :separator => ",", :delimiter => "") %>]</span>

        <%= button_to 'Add to Cart', line_items_path(product_id: product) %>
      </div>
    </div>
<% end %>
